.header {
    text-align: center;
}

.sdetails {
    display: flex;
    padding: 40px 40px 40px 40px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin: 10px 10px 10px 10px;
    border-radius: 53px;
    background-color: gray;

}

.no {
    padding: 10px;
}

.name {
    padding: 10px;
}

.qty {
    padding: 10px;
}

.price {
    padding: 10px;
}

.sbutton {

    top: 50%;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
}

.sub {
    padding: 25px;
    margin-left: 15%;
}